<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vandane - ForgetPasswordtitle</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <%- include("../layouts/navbar.ejs") -%>

    <div
      class="min-h-screen antialiased px-4 py-6 sm:py-12"
    >
      <div
        class="relative py-3 w-full sm:max-w-xl mx-auto text-center space-y-10"
      >
        <span
          class="text-2xl font-bold font-mono "
          >ForgetPassword</span
        >
        <div
          class="relative mt-4 shadow-md sm:rounded-lg text-left"
        >
          
          <form>
            <div class="p-10">
              <div>
                <label for="email" class="block font-semibold mt-3"
                  >Email</label
                >
                <input
                  type="email"
                  placeholder="email"
                  name="email"
                  id=""
                  class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1  rounded-md"
                  required
                />
              </div>
              <div class="flex justify-between items-baseline mt-4">
                <button
                  type="submit"
                  class="mt-4 border font-mono bg-brightRed hover:bg-brightRedLight text-white py-2 px-6 rounded-lg block"
                >
                  submit
                </button>
              </div>
              <div class="msg text-xs"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include("../layouts/footer.ejs") -%>
    <script src="/js/app.js"></script>
    <script src="/js/forgotPassword.js"></script>
   
  </body>
</html>
