<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vandane</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body class="bg-navy-blue">
    <%- include("../layouts/navbar.ejs") -%>
    <div class="flex justify-center items-cente h-[70vh]">
      <h1 class="text-xl text-textlightWhite">
        Verification link has been sent to your MAIL , Please verify your
        Account
      </h1>
    </div>
    <%- include("../layouts/footer.ejs") -%>

    <script src="/js/app.js"></script>
  </body>
</html>
